<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidian.mespro.mapper.WorkflowProcessMapper">

    <resultMap id="rm1" type="com.qidian.mespro.vo.WorkflowProcessVo">
        <id column="id" property="id"/>
        <result column="workflow_id" property="workflowId"/>
        <result column="process_id" property="processId"/>
        <result column="relation_next" property="relationNext"/>
        <result column="gantt_color" property="ganttColor"/>
        <result column="is_critical" property="isCritical"/>
        <result column="need_inspection" property="needInspection"/>
        <result column="prep_time" property="prepTime"/>
        <result column="wait_time" property="waitTime"/>
        <result column="remarks" property="remarks"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="delete_flag" property="deleteFlag"/>
        <association property="process" javaType="com.qidianit.mes.pro.pojo.Process" select="selectProcess" column="{workflowId=workflow_id,stepId=step_order}"/>
        <association property="nextProcess" javaType="com.qidianit.mes.pro.pojo.Process" select="selectNextProcess" column="{workflowId=workflow_id,stepId=step_order}"/>
        <association property="relationNextDict" javaType="com.qidianit.mes.pojo.SysDictData" select="selectrelationNextDict" column="{workflowId=workflow_id,stepId=step_order}"/>
    </resultMap>
    <insert id="addWorkflowProcess">
        insert into work_flow_process(workflow_id,process_id,step_order,relation_next,gantt_color,is_critical,need_inspection,
        prep_time,wait_time,remarks)values (#{workflowId},#{processId},#{stepOrder},#{relationNext},#{ganttColor},#{isCritical},#{needInspection},
                                            #{prepTime},#{waitTime},#{remarks})
    </insert>
    <update id="updateworkflowprocess">
        update work_flow_process
        <set>
            <if test="workflowId!=null and workflowId!=''">
                workflow_id=#{workflowId}
            </if>
            <if test="processId!=null and processId!=''">
                ,process_id=#{processId}
            </if>
            <if test="stepOrder!=null and stepOrder!=''">
                ,step_order=#{stepOrder}
            </if>
            <if test="relationNext!=null and relationNext!=''">
                ,relation_next=#{relationNext}
            </if>
            <if test="ganttColor!=null and ganttColor!=''">-v
                ,gantt_color=#{ganttColor}
            </if>
            <if test="isCritical!=null and isCritical!=''">
                ,is_critical=#{isCritical}
            </if>
            <if test="needInspection!=null and needInspection!=''">
                ,need_inspection=#{needInspection}
            </if>
            <if test="prepTime!=null and prepTime!=''">
                ,prep_time=#{prepTime}
            </if>
            <if test="waitTime!=null and waitTime!=''">
                ,wait_time=#{waitTime}
            </if>
            <if test="remarks!=null and remarks!=''">
                ,remarks=#{remarks}
            </if>
        </set>
        where id = #{id}

    </update>
    <update id="deleteWorkflowprocess">
       update work_flow_process set delete_flag=1 where id=#{id}
    </update>

    <update id="batchDelete">
        update work_flow_process set delete_flag=1
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>


    <select id="selectList" resultMap="rm1">
        select * from work_flow_process where workflow_id=#{workflowId} and step_order=#{stepId} and delete_flag!=1
    </select>

<!--    用来查询当前process-->
    <select id="selectProcess" resultType="com.qidianit.mes.pro.pojo.Process">
        select * from process join work_flow_process ON process.id=work_flow_process.process_id
        where workflow_id=#{workflowId} and step_order=#{stepId}  and work_flow_process.delete_flag!=1
    </select>


    <!--    用来查询下一个process-->
    <select id="selectNextProcess" resultType="com.qidianit.mes.pro.pojo.Process">
        select * from process join work_flow_process ON process.id=work_flow_process.process_id
                 where workflow_id=#{workflowId} and step_order=#{stepId} + 1 and work_flow_process.delete_flag!=1
    </select>

<!--    用来查询字典关系-->
    <select id="selectrelationNextDict" resultType="com.qidianit.mes.pojo.SysDictData">
        select * from sys_dict_data  JOIN work_flow_process ON sys_dict_data.id=work_flow_process.relation_next
        where workflow_id=#{workflowId} and step_order=#{stepId} and work_flow_process.delete_flag!=1 and sys_dict_data.delete_flag!=1
    </select>
    <select id="selectById" resultType="com.qidianit.mes.pro.pojo.WorkflowProcess">
        select * from work_flow_process where step_order=#{id} and delete_flag != 1 and
    </select>
    <select id="selectByProcessId" resultType="com.qidianit.mes.pro.pojo.Process">
        select * from process join work_flow_process ON process.id=work_flow_process.process_id
        where work_flow_process.process_id=#{id} and work_flow_process.delete_flag!=1 and process.is_deleted!=1
    </select>
    <select id="selectByworkflowProcessId" resultType="com.qidian.mespro.vo.WorkflowProcessVo">
          select * from work_flow_process where id=#{id} and delete_flag != 1
    </select>
    <select id="selectByStepOrderExcludeId" resultType="com.qidianit.mes.pro.pojo.WorkflowProcess">
        select * from work_flow_process where step_order=#{stepOrder} and id != #{excludeId} and delete_flag != 1
    </select>


</mapper>
