<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidian.mespro.mapper.WorkflowProductMapper">

    <resultMap id="rm1" type="com.qidian.mespro.vo.WorkflowProductVo">
        <id column="id" property="id"/>
        <result column="workflow_id" property="workflowId"/>
        <result column="product_code" property="productCode"/>
        <result column="remarks" property="remarks"/>
        <result column="create_time" property="createTime"/>
        <result column="create_by" property="createBy"/>
        <result column="update_time" property="updateTime"/>
        <result column="update_by" property="updateBy"/>
        <result column="delete_flag" property="deleteFlag"/>
        <association property="product" javaType="com.qidianit.mes.pojo.Material"  select="selectByProductAndProductCode" column="{code=product_code, workflowId=workflow_id}"></association>
    </resultMap>
    <insert id="addproduct">
        insert into work_flow_product(product_code,remarks,workflow_id) values (#{productCode},#{remarks},#{workflowId})
    </insert>
<!--    更新-->
    <update id="updateworkflowprduct">
        update work_flow_product
        <set>
            <if test="workflowId!=null and workflowId!=''">
                workflow_id=#{workflowId}
            </if>
            <if test="productCode!=null and productCode!=''">
                ,product_code=#{productCode}
            </if>
            <if test="remarks!=null and remarks!=''">
                ,remarks=#{remarks}
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="deleteWorkflowproduct">
        update work_flow_product set delete_flag=1 where id=#{id}
    </update>
    <update id="batchDelete">
        update work_flow_product set delete_flag=1
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </update>


    <select id="selectList" resultMap="rm1">
        select * from work_flow_product where workflow_id=#{workflowId} and delete_flag!=1
    </select>
    <select id="selectByProductAndProductCode" resultType="com.qidianit.mes.pojo.Material">
        select * from material JOIN work_flow_product ON work_flow_product.product_code=material.code
        where work_flow_product.delete_flag!=1 and material.delete_flag!=1 and work_flow_product.product_code=#{code} and work_flow_product.workflow_id=#{workflowId}
    </select>
    <select id="selectByProductUnit" resultType="com.qidianit.mes.pojo.Unit">
        select * from unit JOIN material ON unit.id=material.unit_id JOIN work_flow_product ON work_flow_product.product_code=material.code
        where unit.delete_flag!=1 AND work_flow_product.delete_flag!=1 and material.delete_flag!=1 and work_flow_product.product_code=#{code} and work_flow_product.workflow_id=#{workflowId}
    </select>
    <select id="selectByProductCodeandWork" resultType="com.qidianit.mes.pro.pojo.WorkflowProduct">
        select * from work_flow_product where product_code=#{code} and workflow_id=#{workflowId} and  delete_flag!=1
    </select>
    <select id="selectByIdWorkflowProductVo" resultType="com.qidian.mespro.vo.WorkflowProductVo">
        select * from work_flow_product where delete_flag!=1 and id=#{id}
    </select>
    <select id="selectByProductMaterial" resultType="com.qidianit.mes.pojo.Material">
        select * from material where delete_flag!=1 and code=#{code}
    </select>
    <select id="selectCategory" resultType="com.qidianit.mes.pojo.MaterialCategory">
        select * from material_category join material on material_category.id=material.category_id
        WHERE material.category_id=#{cateId} and material.id=#{mId} and material_category.delete_flag!=1 and material_category.delete_flag!=1
    </select>
    <select id="selectUnitByProduct" resultType="com.qidianit.mes.pojo.Unit">
        select * from unit JOIN material ON material.unit_id=unit.id
          WHERE material.delete_flag!=1 and unit.delete_flag!=1 and material.id=#{mId} and material.unit_id=#{unId}
    </select>
    <select id="selectByProductCodeandWorkrep" resultType="com.qidianit.mes.pro.pojo.WorkflowProduct">
        select * from work_flow_product where product_code=#{code} and workflow_id=#{workflowId} and  delete_flag!=1
    </select>


</mapper>
