<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidianit.mes.sys.mapper.DictDataMapper">
    <resultMap id="BaseMap" type="com.qidianit.mes.pojo.SysDictData">
        <id column="id" property="id" />
        <result column="dict_type" property="dictType" />
        <result column="dict_label" property="dictLabel" />
        <result column="dict_value" property="dictValue" />
        <result column="css_class" property="cssClass" />
        <result column="list_class" property="listClass" />
        <result column="is_default" property="isDefault" />
        <result column="sort" property="sort" />
        <result column="status" property="status" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="remark" property="remark" />
    </resultMap>
    <select id="selectDictDataPage" resultMap="BaseMap">
        select * from sys_dict_data where 1=1
        <if test="dictData.dictType != null and dictData.dictType != ''">
            and dict_type = #{dictData.dictType}
        </if>
    </select>
</mapper>
