<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidianit.mes.sys.mapper.SysLoginLogMapper">
        <resultMap id="BaseMap" type="com.qidianit.mes.pojo.SysLoginLog">
                <id column="id" property="id"/>
                <result column="user_id" property="userId"/>
                <result column="username" property="username"/>
                <result column="ip_address" property="ipAddress"/>
                <result column="login_location" property="loginLocation"/>
                <result column="browser" property="browser"/>
                <result column="os" property="os"/>
                <result column="login_time" property="loginTime"/>
                <result column="login_status" property="loginStatus"/>
                <result column="msg" property="msg"/>
        </resultMap>
        <select id="selectLoginLogPage" resultMap="BaseMap">
                SELECT
                id,
                user_id,
                username,
                ip_address,
                login_location,
                browser,
                os,
                login_time,
                login_status,
                msg
                FROM sys_login_log
                WHERE 1=1
                <if test="loginLog.username != null and loginLog.username != ''">
                        AND username LIKE CONCAT('%',#{loginLog.username},'%')
                </if>
                <if test="loginLog.ipAddress != null and loginLog.ipAddress != ''">
                        AND ip_address LIKE CONCAT('%',#{loginLog.ipAddress},'%')
                </if>
                <if test="loginLog.loginStatus != null">
                        AND login_status = #{loginLog.loginStatus}
                </if>
                <if test="loginLog.startTime != null">
                        AND login_time >= #{loginLog.startTime}
                </if>
                <if test="loginLog.endTime != null">
                        AND login_time &gt;= #{loginLog.endTime}
                </if>
                ORDER BY login_time DESC
        </select>
        <select id="selectLoginLogByUserId" resultType="com.qidianit.mes.pojo.SysLoginLog">
                SELECT
                id,
                user_id,
                username,
                ip_address,
                login_location,
                browser,
                os,
                login_time,
                login_status,
                msg
                FROM sys_login_log
                WHERE user_id = #{userId}
                ORDER BY login_time DESC
                <if test="page.current != null and page.size != null">
                        LIMIT #{page.size}
                </if>
                <if test="page.current != null and page.size != null">
                        OFFSET #{page.size * (page.current - 1)}
                </if>
        </select>

</mapper>
