<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qidian.mespro.mapper.ProcessMapper">
    <insert id="addProcess">
        insert into process(process_code,process_name,process_description,remarks,is_active)
        values (#{processCode},#{processName},#{processDescription},#{remarks},#{isActive})
    </insert>
    <update id="updateById" parameterType="com.qidianit.mes.pro.pojo.Process">
        update process  set update_time = now()
        <if test="processCode!=null and processCode!=''">
            ,process_code=#{processCode}
        </if>
        <if test="processName!=null and processName!=''">
            ,process_name=#{processName}
        </if>
        <if test="processDescription!=null and processDescription!=''">
            ,process_description=#{processDescription}
        </if>
        <if test="remarks!=null and remarks!=''">
            ,remarks=#{remarks}
        </if>

        <if test="isActive!=null">
            ,is_active=#{isActive}
        </if>
        where id = #{id}
    </update>
    <update id="deleteById">
        update process set is_deleted=1 where id=#{id}
    </update>
    <update id="batchDelete">
        update process set is_deleted=1
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

    <select id="selectList" resultType="com.qidianit.mes.pro.pojo.Process">
        select * from process WHERE is_deleted!=1
      <if test="processCode!=null and processCode!=''">
          And process_code LIKE CONCAT('%', #{processCode}, '%')
      </if>
        <if test="processName!=null and processName!=''">
            And process_name LIKE CONCAT('%', #{processName}, '%')
        </if>
        <if test="isActive!=null">
            And is_active=#{isActive}
        </if>
    </select>
    <select id="selectByCode" resultType="java.lang.Integer">
        select * from process where process_code=#{code}
    </select>
</mapper>
